div.btn-group

    if permissions.canEdit !== false
        if record.edit && record.edit.disabled
            a.btn.btn-default(href='', data-linz-control="edit", data-linz-disabled='true', data-linz-disabled-message=record.edit.message)
                span(class="glyphicon glyphicon-pencil")
        else
            a.btn.btn-default(href=linz.api.url.getAdminLink(model, 'edit', record._id), data-linz-control="edit")
                span(class="glyphicon glyphicon-pencil")

    if permissions.canDelete !== false
        if record.delete && record.delete.disabled
            a.btn.btn-default(href='', data-linz-control="delete", data-linz-disabled='true', data-linz-disabled-message=record.delete.message)
                span(class="glyphicon glyphicon-trash")
        else
            form(action=linz.api.url.getAdminLink(model, 'delete', record._id), method='post', class='btn-group')
                button(value='submit', class='btn btn-default', data-linz-control='delete', data-linz-csrf-required, disabled)
                    span(class="glyphicon glyphicon-trash")
    for action in model.list.primaryRecordActions
        if (record.recordActions && record.recordActions[action.label] && record.recordActions[action.label].disabled)
            a.btn.btn-default(href='', data-linz-control="primary", data-linz-disabled='true', data-linz-disabled-message=record.recordActions[action.label].message)
                if !action.icon
                    != action.label
                if action.icon
                    span(class='glyphicon glyphicon-' + action.icon)
        else
            - action.attributes = action.attributes || {}
            if action.modal.active
                - action.attributes['data-linz-control'] = 'record-action'
                - action.attributes['data-target'] = '#recordActionModal'
            a.btn.btn-default(href=linz.api.url.getAdminLink(model, action.action, record._id) data-linz-control="primary" class=(action.modal.active && 'disabled'))&attributes(action.attributes)
                if !action.icon
                    != action.label
                if action.icon
                    span(class='glyphicon glyphicon-' + action.icon)

    if model.list.recordActions.length
        div.btn-group
            button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                span.caret
            ul.dropdown-menu(role="menu")
                for action in model.list.recordActions
                    li(role='presentation')
                        if action.type === 'header'
                            li(role='presentation', class='dropdown-header')= action.label
                        else if action.type === 'divider'
                            li(role='presentation', class='divider')
                        else
                            if (record.recordActions && record.recordActions[action.label] && record.recordActions[action.label].disabled)
                                a(href='', data-linz-disabled='true', data-linz-disabled-message=record.recordActions[action.label].message)= action.label
                            else
                                - action.attributes = action.attributes || {}
                                if action.modal.active
                                    - action.attributes['data-linz-control'] = 'record-action'
                                    - action.attributes['data-target'] = '#recordActionModal'
                                a(role='menuitem' tabindex='-1' href=linz.api.url.getAdminLink(model, action.action, record._id) class=(action.modal.active && 'disabled'))&attributes(action.attributes)= action.label
