if scripts && scripts.length
    each script in scripts
        if !script.inHead
            if script.content
                script(async=script.async crossorigin=script.crossorigin defer=script.defer integrity=script.integrity nomodule=script.nomodule nonce=script.nonce referrerpolicy=script.referrerpolicy src=script.src text=script.text type=script.type)&attributes(script.dataAttributes || {})!= script.content
            else
                script(async=script.async crossorigin=script.crossorigin defer=script.defer integrity=script.integrity nomodule=script.nomodule nonce=script.nonce referrerpolicy=script.referrerpolicy src=script.src text=script.text type=script.type)&attributes(script.dataAttributes || {})
script.
    CKEDITOR.replaceClass = null; // Disable replacing by class
    CKEDITOR.disableAutoInline = true;
script.
    linz.setPath('#{linz.get('admin path')}');
