if scripts && scripts.length
	each script in scripts
		if !script.inHead
			script(async=script.async crossorigin=script.crossorigin defer=script.defer integrity=script.integrity src=script.src text=script.text type=script.type)
