head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='csrf-token' content='#{csrfToken}')
    title= pageTitle
    if styles && styles.length
        each style in styles
            if style.content
                style(media=style.media nonce=style.nonce title=style.title type=style.type)!= style.content
            else
                link(as=style.as crossorigin=style.crossorigin href=style.href hreflang=style.hreflang media=style.media rel=style.rel sizes=style.sizes title=style.title type=style.type)
    if scripts && scripts.length
        each script in scripts
            if script.inHead
                if script.content
                    script(async=script.async crossorigin=script.crossorigin defer=script.defer integrity=script.integrity nomodule=script.nomodule nonce=script.nonce referrerpolicy=script.referrerpolicy src=script.src text=script.text type=script.type)&attributes(script.dataAttributes || {})!= script.content
                else
                    script(async=script.async crossorigin=script.crossorigin defer=script.defer integrity=script.integrity nomodule=script.nomodule nonce=script.nonce referrerpolicy=script.referrerpolicy src=script.src text=script.text type=script.type)&attributes(script.dataAttributes || {})
