extends modal

block content
    form.exportForm(role='form', action=linz.api.url.getAdminLink(model, modelExport.action), method='post', target='_blank', data-model-export-fields=modelExport.fields, data-model-name=model.modelName)
        input(type="hidden" name="_csrf" value="#{csrfToken}")
        div.modal-header
            button.close(type='button', data-dismiss='modal' aria-hidden='true') &times;
            h4#myModalLabel.modal-title!= modelExport.label
        div.modal-body
            div.modal-footer.actions
                button.btn.btn-default(type='button', class='pull-left', data-linz-control="checked-all") Select <b>all</b>
                button.btn.btn-default(type='button', class='pull-left', data-linz-control="reset-export") Reset
                button.btn.btn-primary(type='submit', data-linz-control='export-save') Export
                button.btn.btn-default(type='button', data-dismiss='modal') Cancel

            input(type='hidden', name='selectedIds', data-linz-export='ids')
            input(type='hidden', name='selectedFields', data-linz-export='fields')
            input(type='hidden', name='filters', data-linz-export='filters')

            p Drag and drop to re-order the fields.

            ul.exportFields.list-group.clearfix

        div.modal-footer
            button.btn.btn-primary(type='submit', data-linz-control='export-save') Export
            button.btn.btn-default(type='button', data-dismiss='modal') Cancel
