extends layout

block content
	h1= modelLabel
	div.alert.alert-info There are #{count} records.
	table.table.table-striped.table-hover
		thead
			tr
				th Actions
				th Label
				th Status
				th Publish date
				th Created date
		tbody
			for model in models
				tr
					td
						span.glyphicon.glyphicon-trash
						span.glyphicon.glyphicon-plus-sign
					td= model.title
					td= model.status
					td= model.publishDate
					td= model.dateCreated
