extends layout-preauth

block content
	.pane.centered.login.col-md-6.col-sm-6.col-xs-12
		h1.title Password reset
		form(role='form', method='post', action=linz.api.getAdminPasswordResetLink(), data-bv-live='disabled', data-linz-validation='true')
			if success
				p Your password has been updated. Please login using your new password.
				p
					a.btn.btn-primary(href=linz.get('admin path')) Login
			else
				input(type='hidden', name='id', value=record._id)
				.form-group
					label(for='password') Password
					input.form-control(type='password', id='password', name='password', placeholder='Enter your password...', required, pattern=linz.get('admin password pattern'), data-bv-message='Password must be supplied in the required format.', data-bv-identical='true', data-bv-identical-field='confirmPassword', data-bv-identical-message='Password and confirm password must be the same.')
					p.help-block!= linz.get('admin password pattern help text')
				.form-group
					label(for='confirmPassword') Confirm password
					input.form-control(type='password', id='confirmPassword', name='confirmPassword', placeholder='Enter your confirm password...', required, data-bv-message='Confirm password required.', data-bv-identical='true', data-bv-identical-field='password', data-bv-identical-message='Password and confirm password must be the same.')
				button.btn.btn-primary(type='submit') Update password
