include mixins/documentarray
include mixins/conflictDropdown
include mixins/conflictDocumentArrayDropdown


extends layout

block header
	h1 Editing '#{record.title}'

block content
	.container.linz-container.edit.record
		.pane
			.body
				div
					form.form-horizontal.model(role='form', action='#{actionUrl}', method='post', data-linz-validation='true')
						.form-group.control-bar.control-bar-top
							.col-sm-12
								button.btn.btn-primary(type='submit') Save
								a.btn.btn-link(href='#{cancelUrl}') or cancel
						input(type="hidden", name="versionNo", value=record.__v)
						!= form
						.form-group.control-bar
							.col-sm-offset-2.col-sm-10
								button.btn.btn-primary(type='submit') Save
								a.btn.btn-link(href='#{cancelUrl}') or cancel
					mixin documentarray()

	script
		!= conflictHandlersJS
	mixin conflictDropdown()
	mixin conflictDocumentArrayDropdown()
