include ../mixins/overviewFields

if (tabs && tabs.length)
    div.tabs
        div
            ul.nav.nav-tabs.nav-tabs-overview
                each tab, index in tabs
                    li(class="#{index === 0 ? 'active' : ''}")
                        a(href='#' + tab.label + index, role='tab' data-toggle='tab')
                            span=tab.label
        div.tab-content
            each tab, index in tabs
                if (tab.fields)
                    div(id=tab.label + index, class="#{index === 0 ? 'tab-pane active' : 'tab-pane'}")
                        mixin overviewDetails(tab.fields)
                else if (tab.body)
                    div(id=tab.label + index, class="#{index === 0 ? 'tab-pane active' : 'tab-pane'}")
                        != tab.body
                else
                    div(id=tab.label + index, class="#{index === 0 ? 'tab-pane active' : 'tab-pane'}")
