.row.grid-header
	.col-md-6.col-xs-12
		h1
			a(href='' + linz.api.getAdminLink(model))= model.label
		ul.sort.nav.nav-pills
			if model.grid.sortBy.length
				li.dropdown
					a(data-toggle='dropdown', role='button', class="btn btn-default")
						span.glyphicon.glyphicon-sort
						| Sort
					ul.dropdown-menu(role='menu')
						if form.sort
							li.disabled
								for sortField in model.grid.sortBy
									if '-' + sortField.field === form.sort
										a!= sortField.label + ' <em>(descending)</em>'
									else if sortField.field === form.sort
										a!= sortField.label + ' <em>(ascending)</em>'
							li.divider
						for sortField in model.grid.sortBy
							li
								a(data-sort-field='' + sortField.field + '')
									if '-' + sortField.field === form.sort
										!= sortField.label + ' <em>(ascending)</em>'
									else if sortField.field === form.sort
										!= sortField.label + ' <em>(descending)</em>'
									else
										!= sortField.label
			if Object.keys(model.grid.filters).length
				li.dropdown.addFilterBtn
					a(data-toggle='dropdown', role='button', class="btn btn-default")
						span.glyphicon.glyphicon-filter
						| Filter
					ul.dropdown-menu(role='menu')
						for filterField, key in model.grid.filters
							li
								a.control-addFilter(data-filter-field='' + key + '')= filterField['label']
								span.controlField!= filterField.formControls
	.col-md-6.col-xs-12
		.export.pull-right
			if model.grid.export.enable
				a.btn.btn-default.pull-right(href='' + linz.api.getAdminLink(model, model.grid.export.action) data-linz-control="export" data-target="#exportModal")= model.grid.export.label
		.group-actions.pull-right
			for groupAction in model.grid.groupActions
				a.btn.btn-default.pull-right(href='' + linz.api.getAdminLink(model, groupAction.action) data-linz-control="group-action" data-target="#groupActionModal")= groupAction.label
		.custom-actions.pull-right
			for action in model.grid.actions
				a.btn.btn-default.pull-right(href='' + linz.api.getAdminLink(model, action.action))= action.label
		.actions.pull-right
			if model.grid.canCreate
				span.create
					a.btn.btn-primary.pull-right(href='' + linz.api.getAdminLink(model, 'new')) Create a new #{model.singular}
form.form-horizontal.filters(method='post', role='form')
	input.page(type='hidden', name='page', value=''+ page +'')
	input.pageSize(type='hidden', name='pageSize', value=''+ pageSize +'')
	input.selectedFilters(type='hidden', name='selectedFilters', value='' + ((form.selectedFilters) ? form.selectedFilters : '') + '')
	input.selectedSort(type='hidden', name='sort', value='' + ((form.sort) ? form.sort : model.grid.sortBy[0].field ) + '')
	.filter-list
		if model.grid.activeFilters
			for activeFilter, fieldName in model.grid.activeFilters
				for filterControl in activeFilter.controls
					include filter
	.form-group
		.col-sm-offset-2.col-sm-10
			button.btn.btn-default(type="submit") Filter now
	template(id="filter")
		include filter

.modal.fade#groupActionModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
	.modal-dialog
.modal.fade#exportModal(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
	.modal-dialog
div#modelQuery.hidden!= modelQuery
