.model-title
	h1
		a(href='' + linz.api.url.getAdminLink(model))= label.plural
.model-actions
	if permissions.canCreate !== false
		.actions
			span.create
				a.btn.btn-primary(href='' + linz.api.url.getAdminLink(model, 'new'))
					i.fa.fa-plus
					| Create a new #{label.singular}
	if model.list.actions && model.list.actions.length
		.custom-actions
			if model.list.actions.length === 1
				for action in model.list.actions
					a.btn.btn-default(href=linz.api.url.getAdminLink(model, action.action) target=action.target data-linz-modal=action.modal.active data-linz-modal-callback=action.modal.callback class=(action.modal.active && 'disabled'))= action.label
			else
				.dropdown
					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
						| Actions&nbsp;
						span.caret
					ul.dropdown-menu(role='menu')
						for action in model.list.actions
							if action.type === 'header'
								li(role='presentation', class='dropdown-header')= action.label
							else if action.type === 'divider'
								li(role='presentation', class='divider')
							else
								li(role='presentation')
									a(role='menuitem', tabindex='-1', href=linz.api.url.getAdminLink(model, action.action) target=action.target data-linz-modal=action.modal.active data-linz-modal-callback=action.modal.callback class=(action.modal.active && 'disabled'))= action.label
	if model.list.groupActions && model.list.groupActions.length
		.group-actions.hidden
			if model.list.groupActions.length === 1
				for groupAction in model.list.groupActions
					a.btn.btn-default(href='' + linz.api.url.getAdminLink(model, groupAction.action) data-linz-control=((groupAction.useModal) ? 'group-action' : false) data-target=((groupAction.useModal) ? '#groupActionModal' : false) class=(groupAction.useModal && 'disabled'))= groupAction.label
			else
				.dropdown
					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
						| Group actions&nbsp;
						span.caret
					ul.dropdown-menu(role='menu')
						for groupAction in model.list.groupActions
							li(role='presentation')
								- groupAction.attributes = groupAction.attributes || {}
								if groupAction.useModal
									- groupAction.attributes['data-linz-control'] = 'group-action'
									- groupAction.attributes['data-target'] = '#groupActionModal'
								a(role='menuitem' tabindex='-1' href=linz.api.url.getAdminLink(model, groupAction.action))&attributes(groupAction.attributes)= groupAction.label

	if model.list.toolbarItems && model.list.toolbarItems.length
		.toolbar
			for item in model.list.toolbarItems
				.toolbarItem
					!= item.html

	if model.list.export && model.list.export.length && permissions.canExport !== false
		.export
			if model.list.export.length === 1
				for exp in model.list.export
					if exp.enabled && permissions.canExport !== false
						- attributes = {}
						if exp.action === 'export'
							- attributes['data-target'] = '#exportModal'
						a.btn.btn-default(href='' + linz.api.url.getAdminLink(model, exp.action) data-linz-control="export" class=(exp.action && 'disabled'))&attributes(attributes)= exp.label
			else
				.dropdown
					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
						| Export&nbsp;
						span.caret
					ul.dropdown-menu(role='menu')
						for exp in model.list.export
							if exp.enabled && permissions.canExport !== false
								- attributes = {}
								if exp.action === 'export'
									- attributes['data-target'] = '#exportModal'
								li(role='presentation')
									a(role='menuitem' tabindex='-1' href='' + linz.api.url.getAdminLink(model, exp.action) data-linz-control='export')&attributes(attributes)= exp.label
