if pagination
    .model-paging
        .records
            span Showing
            select.pagination.form-control(data-linz-csrf-required, disabled)
                each page, i in pages
                    if page === i+1
                        option(value=i+1, selected)= i+1
                    else
                        option(value=i+1)= i+1
            span of #{pages} pages
        .page-size
            select.pagination-size.form-control(data-linz-csrf-required, disabled)
                for ps in pageSizes
                    if pageSize === ps
                        option(value=ps, selected)= ps
                    else
                        option(value=ps)= ps
            span records per page
