if records.length > 0
	div(class="table-responsive")
		table.table.table-striped.table-hover
			thead
				tr
					th #
					th
						input.control-checkAll(type="checkbox")
					if model.grid.canDelete || model.grid.canEdit
						th Actions
					for column in model.grid.columns
						th= column.label
			tbody
				for record, index in records
					tr
						td= index+1
						td
							input.checked-record(type="checkbox", name="ids[]", value="#{record._id}")
						if model.grid.canDelete || model.grid.canEdit
							td
								div.btn-group
									if model.grid.canEdit
										a.btn.btn-default(href='' + linz.get('admin path') + '/#{model.modelName}/#{record._id}/edit', data-linz-disabled=((record.edit && record.edit.disabled) ? 'true' : false), data-linz-disabled-message=((record.edit && record.edit.disabled) ? record.edit.message : false))
											span(class="glyphicon glyphicon-pencil")
									if model.grid.canDelete
										a.btn.btn-default(href='' + linz.get('admin path') + '/#{model.modelName}/#{record._id}/delete', data-linz-control="delete", data-linz-disabled=((record.delete && record.delete.disabled) ? 'true' : false), data-linz-disabled-message=((record.delete && record.delete.disabled) ? record.delete.message : false))
											span(class="glyphicon glyphicon-trash")
						each val in Object.keys(model.grid.columns)
							td!= record[val]
