if records.length > 0
	div(class="table-responsive")
		table.table.table-striped.table-hover
			thead
				tr
					th #
					th
						input.control-checkAll(type="checkbox")
					if model.grid.canDelete || model.grid.canEdit
						th Actions
					for column in model.grid.columns
						th= column.label
			tbody
				for record, index in records
					tr
						td= from + index + 1
						td
							input.checked-record(type="checkbox", name="ids[]", value="#{record._id}")
						if model.grid.canDelete || model.grid.canEdit
							td
								div.btn-group
									if model.grid.canEdit
										a.btn.btn-default.control-edit(href='' + linz.get('admin path') + '/#{model.modelName}/#{record._id}/edit')
											span(class="glyphicon glyphicon-pencil")
									if model.grid.canDelete
										a.btn.btn-default.control-delete(href='' + linz.get('admin path') + '/#{model.modelName}/#{record._id}/delete')
											span(class="glyphicon glyphicon-trash")
						each val in Object.keys(model.grid.columns)
							td!= record[val]
