div.alert.alert-info.alert-summary
	.content
		if pagination
			p.records Showing #{from+1} to #{to} of #{total} records.
			div.pagination
				span Page
				select.pagination.form-control
					- for (var i = 0; i < pages; i++)
						if page === i+1
							option(value=i+1, selected)= i+1
						else
							option(value=i+1)= i+1
				span.pages of #{pages}
		else
			p.records #{total} records.
